MONGO_USERNAME=admin
MONGO_PASSWORD=password
MONGO_DBNAME=blockly
PORT=8080

APP_ORIGIN=http://localhost:3000

# time in seconds
SHARE_EXPIRES_IN=

JWT_SECRET=
REFRESH_TOKEN_SECRET=


SMTP_HOST=
SMTP_FROM=
SMTP_USER=
SMTP_PASS=
CLIENT_URL= 